{% extends 'layout/layout.html' %}

{%block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/pages/get_questions.css')}}">
{%endblock %}

{%block content %}
    <section class="container my-4">
        <h1 class="text-center">{{data.course_title}}</h1>
        <div class="container content-wrapper d-md-flex justify-content-evenly align-items-center pb-3 pt-5">
            {% for ques in data.questions %}
            <div class="embed-responsive w-40">
                <iframe src="/show-question/{{ques.id}}" class="embed-responsive-item "></iframe>
                <a href="/selected/{{ques.id}}">
                    <h3 class="text-start text">{{ques.semester}}</h3>
                </a>
             </div>
            
            {% endfor %}
        </div>
        <div class="container my-2 d-flex justify-content-end">
            <a href="/select-question" id="go-back">
                <button class="btn btn-secondary ash-btn text-black border-0 px-4">&xlarr; Go Back</button>
            </a>
        </div>
    </section>
{%endblock %}
