{% extends 'layout/layout.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/pages/select-paper.css')}}">
{% endblock %}
{%block content %}
    <section class="container d-flex flex-column align-items-center justify-content-center p-3">
        <div class="container my-2">
            <h1 class="text-center h1">
                Upload Question Paper
            </h1>
           <div class="container">
            <p class="text-center w-10">
                Add to a list of all past
                questions in the university's domain from 2017.
            </p>
           </div>
        </div>
        <div class="container bg-secondary  px-5 py-2 rounded-lg d-flex justify-content-center align-items-center form-wrapper">
            <form action="/questions" class="form text-center p-0 w-100" id="upload-form" name="upload-form" method="POST" enctype="multipart/form-data" >
                    
                <div class="container">
                    <label for="year" class="label form-control form-wrapper border-0 text-start">Year</label>
                    <select class="level form-control  form-data bg-black text-white" id="year" name="year">
                        <option value="--select level--">--Select Year--</option>
                        <option value="2017" class="form-control">2017</option>
                        <option value="2018" class="form-control">2018</option>
                        <option value="2019" class="form-control">2019</option>
                        <option value="2020" class="form-control">2020</option>
                        <option value="2021" class="form-control">2021</option>
                        <option value="2022" class="form-control">2022</option>
                    </select>
                </div>
                <div class="container w-20">
                    <label for="program" class="label form-control form-wrapper border-0 text-start">Program</label>
                    <select class="level form-control form-data bg-black text-white" id="program" name="program">
                        <option value="--select program--">--Select Program--</option>
                        <option value="Bsc Computer Science" class="form-control">Bsc Computer Science</option>
                        <option value="Bsc Information Technology" class="form-control">Bsc Information Technology</option>
                    </select>
                </div>
    
    
                <div class="container">
                    <label for="course" class="label form-control form-wrapper border-0 text-start">Course</label>
                    <select class="level form-control  form-data bg-black text-white" id="course" name="course">
                        <option value="--select course--">--Select Course--</option>
                        <option value="Advanced Database" class="form-control">Advanced</option>
                        <option value="Numerical Methods" class="form-control">Numerical Methods</option>
                        <option value="Software Engineering" class="form-control">Software Enginerring</option>
                        <option value="Computer Architecture" class="form-control">Computer Architecture</option>
                        <option value="Data Communication and Network" class="form-control">Data Communication and Network</option>
                        <option value="Analytical Reading and Reasoning" class="form-control">Analytical Reading and Reasoning</option>
                    </select>
                </div>
                <div class="container">
                    <label for="level" class="label form-control form-wrapper border-0 text-start">Level</label>
                    <select class="level form-control  form-data bg-black text-white" id="level" name="level">
                        <option value="--select level--">--Select Year--</option>
                        <option value="100" class="form-control">100</option>
                        <option value="200" class="form-control">200</option>
                        <option value="300" class="form-control">300</option>
                        <option value="400" class="form-control">400</option>
                    </select>
                </div>

                <div class="container">
                    <label for="level" class="label form-control form-wrapper border-0 text-start">Semester</label>
                    <select class="level form-control  form-data bg-black text-white" id="semester" name="semester">
                        <option value="--select level--">--Select Semester--</option>
                        <option value="Semester 1" class="form-control">1</option>
                        <option value="Semester 2" class="form-control">2</option>
                    </select>
                </div>

                <div class="container my-2">
                    <label for="question-paper" class="label form-control form-wrapper border-0 text-start">Select File</label>
                    <input type="file" class="form-control form-data  bg-black text-white" name="question-paper" id="question-paper">
                </div>

                <div class="container">
                    <button type="submit" class="btn btn-secondary bg-black text-white text-start px-5 py-2 my-3">Add</button>
                </div>
            </form>
        </div>
    </section>
    <script>
       
    </script>
{%endblock %}
