iframe{
    height: 100vh;
    width: 80%;
}
.wrapper{
    background-color: #d9d9d9 !important;
}

.embed-responsive{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn-wrapper{
    width: 82%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.btn-wrapper button{
    margin: 0 0 0 2rem;
}
@media screen and (max-width:992px) {
    .btn-wrapper button{
        margin: unset;
    }
}